body {
    color: #0c0b0b;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
}

fieldset {
    background-color: rgb(226, 229, 236);
    width: 32%;
    
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    background-color: rgb(228, 228, 238);
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1.5px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 24px;
    font-weight: bold;
    color: #090909;
    margin-top: 20px;
}